.carousel-container {
  position: relative;
  width: 50%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  background-color: #FBE7E6;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  object-fit: contain;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-buttons button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }
  .carousel-images img {
    object-fit: cover;
  }
  .carousel-buttons button {
    color: black;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
  }
} 